requires 'YAML::Tiny';
requires 'String::RewritePrefix';
requires 'CGI::Simple::Cookie';
requires 'Config::General';
requires 'YAML::Syck';
requires 'Inline';
requires 'Imager';
requires 'Imager::File::PNG';
requires 'SVG';
requires 'JSON';
requires 'Data::UUID';
requires 'Inline::C';
requires 'Module::Install';
requires 'Parse::RecDescent';
requires 'File::Remove';
requires 'Class::C3::Adopt::NEXT';
requires 'MooseX::MethodAttributes::Role::AttrContainer::Inheritable';
requires 'Text::SimpleTable';
requires 'Tree::Simple';
requires 'Tree::Simple::Visitor::FindByUID';
requires 'Safe::Isa';
requires 'Plack::Middleware::ReverseProxy';
requires 'Plack::Middleware::FixMissingBodyInRedirect';
requires 'Plack::Middleware::RemoveRedundantBody';
requires 'Config::Any';
requires 'Sort::Naturally';
requires 'Clone::PP';
requires 'File::HomeDir';
requires 'Template::Timer';
requires 'FCGI';
requires 'Term::Size::Any';